.safe-space {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    padding-top: 50px;
    overflow-y: hidden;
    position: relative;
    z-index: 1;
    height: 100vh;
    overflow-y: hidden;
}

.safe-space::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../media/mainpage-bg-new3.png') no-repeat center center/cover;
    z-index: -1;
    filter: blur(5px);
}

/* Character Customization Container */
.character-customization {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    overflow-y: hidden;
    height: 80%;
    z-index: 1;
    
}

/* Character Preview Section */
.character-preview {
    height: 100%;
    box-shadow: 0px 4px 18px #000;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    aspect-ratio: 1/1;
    min-width: 50%;
    background: url('../media/crumpled-paper.jpg') no-repeat center center/cover;
    border: 8px solid #3e2000;
}

.character-preview img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    object-fit: contain;
}

/* Customization Options Panel */
.customization-options {
    width: max-content; /* Adjust width to balance with the larger preview */
    background: url('../media/boarders/boardSafeSpaceNoBG-removebg-preview.png') no-repeat center center/cover;
    overflow-y: auto;
    height: 90%;
    padding: 60px;
}

/* no visible scroll bar */

.customization-options::-webkit-scrollbar {
    display: none;
}


.customization-options h2 {
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    margin-bottom: 20px;
    text-align: center;
}

.customization-options h3 {
    font-size: 1.75rem;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    margin-bottom: 20px;
    text-align: left;
}

.options-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-direction: column;
}

/* 70% width for the category buttons */
.option-category {
    text-align: center;
    width: 100%;

}

/* 30% width for the quick menu buttons */

.option-quick-menu {
    text-align: center;
    width: 15%;
}

.option-quick-menu button {
    display: inline-block;
    color: #ffffff;
    padding: 8px 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 150px;
    width: fit-content;
    border: 4px solid #3e2000;
}

/* UI Tile adjustments */
.UI-tile, .UI-swatch {
    position: relative;
    display: inline-block;
    margin: 5px;

}

.UI-tile {
    height: 150px;
    width: 150px;
}

.UI-swatch {
    height: 75px;
    width: 75px;
}

/* Common button styles */
.UI-tile-button {
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 0;
    border: none;
    background: #f9f9f9;
    color: #000;
    aspect-ratio: 1/1;
    font-size: 1.5rem;
}

.UI-tile-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Specific sizes for tiles and swatches */
.UI-tile .UI-tile-button {
    height: 150px;
    width: 150px;
}

.UI-swatch .UI-tile-button {
    height: 75px;
    width: 75px;
    border-radius: 50%; /* Make swatches circular */
    background-color: #f9f9f9;
}

/* Image styles */
.UI-tile-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: inherit; /* Inherit border-radius from parent */
}

/* Selected Tiles */
.UI-tile.selected .UI-tile-button,
.UI-swatch.selected .UI-tile-button {
    background-color: #8aea97;
}

.UI-tile.selected .UI-tile-button:hover,
.UI-swatch.selected .UI-tile-button:hover {
    background-color: rgb(255, 151, 151);
}

/* CloseButton adjustments */
.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: transparent !important;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 0;
    color: #fff;
    z-index: 2;
}

.close-button:hover {
    color: darkred;
}

/* Adjustments for UI options */
.UI-tile .close-button {
    font-size: 1.5rem;
}

.UI-tile-button, .UI-swatch {
    display: inline-block;
    color: #3e2000;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 150px;
    width: fit-content;
    border: 4px solid #3e2000;
    margin: 5px;
}

.option-category button img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: 0;

}


.option-category .UI-swatch {
    transition: all 0.15s ease;
}

.option-category button:focus, .option-category .UI-swatch:focus {
    outline: none;
}

.option-category button:disabled, .option-category .UI-swatch:disabled {
    background-color: #a0aec0;
    cursor: not-allowed;
}

.color-swatch {
    width: 75px !important; /* Set the desired width */
    height: 75px !important; /* Set the desired height */
    padding: 0px; /* Optional padding for spacing */
    border-radius: 50% !important; /* Optional: make the swatches circular */
}

.color-swatch img {
    width: 100%; /* Ensure the image scales within the button */
    height: 100%; /* Ensure the image scales within the button */
    object-fit: cover; /* Ensure the image fits inside the button properly */
    border-radius: 50% !important; /* Optional: make the swatches circular */
}

.character-background {
    border-radius: 8px;
    border: 4px solid #3e2000;
    background-color: #3e2000;
    margin: 5px;
}


/* Scrollbar Styling */
.customization-options::-webkit-scrollbar {
    width: 12px;
}

.customization-options::-webkit-scrollbar-track {
    background-color: #f9f9f9;
    border-radius: 12px;
}

.customization-options::-webkit-scrollbar-thumb {
    background-color: #2F855A;
    border-radius: 12px;
}

/* Green outline for hovered color swatches */
.color-swatch:hover, .character-background:hover {
    border: 4px solid #8aea97;
}

/* Green background for hovered attribute tiles */
.UI-tile-button:hover {
    background-color: #8aea97;
}

/* Green outline for selected color swatches */
.color-swatch.selected, .character-background.selected {
    border: 4px solid #8aea97;
}

/* Green background for selected attribute tiles */
.UI-tile-button.selected {
    background-color: #8aea97;
}

/* Red outline on hover when selected color swatch*/
.color-swatch.selected.removeable:hover, .character-background.selected.removeable:hover {
    border: 4px solid red;
}

/* Red outline on hover when selected tile */
.UI-tile-button.selected.removeable:hover {
    background-color: red;
}




/* SafeSpace.css */

/* Base styles for all character layers */
.character-layer {
    position: absolute; /* Ensure all layers are positioned relative to each other */
    left: 50%; /* Center horizontally */
    top: 50%;  /* Center vertically */
    transform: translate(-50%, -50%); /* Center each layer */
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* Z-Index definitions for each layer */

/* Background and color swatches */
.character-layer.colorSwatches {
    z-index: 1;
}

.character-layer.background {
    z-index: 2;
}

.character-layer.shoulder-skin-color {
    z-index: 3;
}

.character-layer.shoulder-linework {
    z-index: 4;
}

.character-layer.chest-volume {
    z-index: 5;
}

.character-layer.body-scars {
    z-index: 6;
}

.character-layer.base-layer-tops-color {
    z-index: 7;
}

.character-layer.base-layer-linework {
    z-index: 8;
}

.character-layer.mid-layer-tops-color {
    z-index: 9;
}

.character-layer.mid-layer-tops-linework {
    z-index: 10;
}

.character-layer.outer-layer-tops-color {
    z-index: 11;
}

.character-layer.outer-layer-tops-linework {
    z-index: 12;
}

.character-layer.shirt-color {
    z-index: 13;
}

.character-layer.shirt-linework {
    z-index: 14;
}

.character-layer.head-skin-tone {
    z-index: 15;
}

.character-layer.head-linework {
    z-index: 16;
}

.character-layer.eye-socket-shadow {
    z-index: 17;
}

.character-layer.hair-color {
    z-index: 18;
}

.character-layer.hair-linework {
    z-index: 19;
}

.character-layer.ear-skin-tone {
    z-index: 20;
}

.character-layer.ear-linework {
    z-index: 21;
}

.character-layer.chin-skin-tone {
    z-index: 22; 
}

.character-layer.chin-linework, .character-layer.cleft-linework {
    z-index: 23; 
}

.character-layer.face-scars {
    z-index: 24; 
}

.character-layer.cheek-bones {
    z-index: 25; 
}

.character-layer.eye-makeup {
    z-index: 26;
}

.character-layer.eye-shape {
    z-index: 27; 
}

.character-layer.eye-color {
    z-index: 28; 
}

.character-layer.eyeballs {
    z-index: 29; 
}

.character-layer.upper-eyelash, .character-layer.lower-eyelash {
    z-index: 30; 
}

.character-layer.eyebrows {
    z-index: 31; 
}

.character-layer.beard-color {
    z-index: 32; 
}

.character-layer.beard-linework {
    z-index: 33; 
}

.character-layer.lip-color {
    z-index: 34; 
}


.character-layer.lip-linework {
    z-index: 33; /* Default z-index when not selected */
}

.character-layer.mouth-expression {
    z-index: 35; 
}

.character-layer.mustache-color {
    z-index: 36; 
}

.character-layer.mustache-linework {
    z-index: 37; 
}

.character-layer.nose-bridge {
    z-index: 38;
}

.character-layer.nose-apex {
    z-index: 39;
}

.character-layer.secondary-fringe-color {
    z-index: 40; 
}

.character-layer.secondary-fringe-linework {
    z-index: 41; 
}

.character-layer.front-fringe-color {
    z-index: 42; 
}

.character-layer.front-fringe-linework {
    z-index: 43; 
}

.character-layer.accessory {
    z-index: 44;
}





/* Mobile Responsiveness */
@media (max-width: 768px) {
    .character-customization {
        flex-direction: column;
        align-items: center;
    }

    .character-preview, .customization-options {
        width: 100%;
        margin-bottom: 20px;
    }
}