

.avatar-render {
    border-radius: 8px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    font-size: 2rem;
    color: white;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 4px solid #382828;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    position: absolute;
    right: 3vw;
    bottom: 5vh;

    clip-path: polygon(
        10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 
        10% 100%, 0% 90%, 0% 10%
    );
}

.avatar-render::after {
    content: '';
    position: absolute;
    background: #53333390;
    /* backgrounds that looks like a frame */
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    z-index: -1;

    clip-path: polygon(
        10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 
        10% 100%, 0% 90%, 0% 10%
    );
}

.avatar-render img {
    height: 100%;

}