/* CloseButton.css */
.close-button {
    position: absolute;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 0;
    z-index: 1000;
    height: 150px;
    width: 150px;
    top: 0px;
    right: 0px;
}

.UI-tile-button .close-button{
    height: 150px;
    width: 150px;
}

.UI-swatch .close-button {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: none;
}

.close-button:hover {
    color: darkred;
}

  
  /* Adjustments for UI options */
  .UI-tile .close-button {
    top: 0px;
    right: 0px;
    font-size: 3rem;
    color: #000;
    transition: all 0.3s;
  }
  
  .UI-tile .close-button:hover {
    color: #f00;
    font-size: 5rem;

  }

